* {
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

.center{
    margin-left: calc(50% - 600px);
    margin-right: calc(50% - 600px);
}

@import 'header';
@import 'banner';
@import 'project';
@import 'counter';
@import 'blog';
@import 'footer';
@import 'banner_blog';
@import 'vueblog';
@import 'blog_details';
