@import 'var';

.blog{
    padding: 96px 0px;
}

.blog__heading{
    max-width: 811px;
    margin-left: calc(50% - 405.5px);
    &_title{
        font-family: $second-family;
        font-weight: 400;
        font-size: 50px;
        line-height: 125%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #292f36;
        padding-bottom: 12px;
    }
    &_text{
        font-family: $font-family;
        font-weight: 400;
        font-size: 22px;
        line-height: 150%;
        letter-spacing: 0.01em;
        text-align: center;
        color: #4d5053;
    }
}

